body {
  background-color: #010a10;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
}

header {
  width: 190px;
  height: 100vh;
  padding-top: 30px;
  position: fixed;
  background-color: #061b29;
}

header > ul > li {
  padding-left: 5px;
}

header > h3 {
  margin-left: 5px;
}

header > ul > li:hover {
  background-color: #092a41;
}

header > ul > li > a { /*overwrite tag a hover*/
  margin: 0;
  padding: 0;
}

header > ul > li > a:hover { /*overwrite tag a hover*/
  background-color: transparent;
}

#create {
  margin-top: 20px;
}

#create:hover {
  background-color: transparent;
}

#create > ul > li {
  margin-left: -5px; /*overwrite header > li padding*/
  padding-left: 20px;
}

#create > ul > li:hover {
  background-color: #092a41;
}

#create > ul > li > a {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

main {
  margin-left: 190px; /*header space*/
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

dl {
  margin-top: 20px;
}

.center {
  text-align: center;
}