@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400&family=Lora:ital@1&family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
  margin-bottom: 20px;
  color: #f3f6f8;
}

h2, h3, h4 {
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 300;
  letter-spacing: .05rem;
  margin-bottom: 20px;
  color: #f3f6f8;
}

.index-h2 {
  margin-top: 50px;
}

h3, dt, dd {
  text-align: left;
}

p, a, li, dd, label {
  font-size: 16px;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 300;
  letter-spacing: .05rem;
  margin-bottom: 5px;
  color: #f3f6f8;
}

label {
  margin-bottom: 0px;
}

dt {
  margin-top: 10px;
}

dt > a {
  font-size: 20px;
  font-weight: 400;
}

dt > a:link {
  color: #bc2525;
}

dt > a:visited {
  color: #bc2525;
}

li { /*conditional rendering doesn't fall inside ul*/
  list-style-type: none;
  margin-bottom: 10px;
}

.indent {
  margin-left: 15px;
}

a:link {
  color: #bde5ff;
  text-decoration: none;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
}

a:visited {
  color: #d2d6db;
}

a:hover {
  background-color: #092a41;
}

button {
  min-width: 100px;
  padding: 8px;
  padding-top: 10px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .05rem;
  color: #010a10;
  background-color: #bc2525;
  transition-property: box-shadow, background-color, color;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #010a10;
  color: #bc2525;
  box-shadow: 0px 0px 5px 2px #bc2525;
}

.label-text {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}

.index-count-data {
  font-size: 60px;
  font-family: 'Lora', serif;
  color: #bc2525;
}

.available {
  max-width: 62px;
  color: rgb(238, 242, 236);
  background-color: rgb(38, 92, 11);
}
.maintenance {
  max-width: 80px;
  color: rgb(245, 240, 239);
  background-color: rgb(157, 41, 12);
}
.loaned {
  max-width: 45px;
  color: #FEFAE0;
  background-color: #BC6C25;
}

.notice {
  color: #bc2525;
  font-weight: 400;
}