extends layout

block content
  h1 Ops! There was an error
  p Don't worry:
  p "An error doesn't become a mistake until you refuse to correct it."
  p #[em Orlando Aloysius Battista]

  hr
  br
  br
  p.styled-link
    a(href='https://github.com/p-vale', target='_blank') Report Bug