doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <!-- link(rel='stylesheet', href='/stylesheets/style.css') -->
    style
      include ./stylesheets/tags.css
      include ./stylesheets/areas.css
      block style
  body
    div(class='container')
      div.burger#burger
        div(class='burger-line burger-line-close-1')
        div(class='burger-line burger-line-close-2')
        div(class='burger-line burger-line-close-3')
      header#header
        h3 Library Inventory 
        ul
          li
            a(href='/catalog') Home
          li
            a(href='/catalog/books') Books
          li
            a(href='/catalog/authors') Authors
          li
            a(href='/catalog/genres') Genres
          li
            a(href='/catalog/bookinstances') Book copies
          li(id='create')
            p Create: 
            ul
              li
                a(class='indent', href='/catalog/author/create') new author
              li
                a(class='indent', href='/catalog/genre/create') new genre
              li
                a(class='indent', href='/catalog/book/create') new book
              li
                a(class='indent', href='/catalog/bookinstance/create') new book copy
      main
        div(class='content')
          block content
    script(src='/public/javascripts/burger.js')