doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <!-- link(rel='stylesheet', href='/stylesheets/style.css') -->
    style
      include ./stylesheets/style.css
  body
    div(class='container')
      div(class='row')
        div(class='col')
          block sidebar
            ul(class='sidebar')
              li
                a(href='/catalog') Home
              li
                a(href='/catalog/books') Books
              li
                a(href='/catalog/authors') Authors
              li
                a(href='/catalog/genres') Genres
              li
                a(href='/catalog/bookinstances') Book-instances
              li
                hr
              li
                a(href='/catalog/author/create') Create new author
              li
                a(href='/catalog/genre/create') Create new genre
              li
                a(href='/catalog/book/create') Create new book
              li
                a(href='/catalog/bookinstance/create') Create new book instance (copy)

        div(class='col')
          block content